
.headerColor { 
  /* background: #161616 !important; */
  color: white;
}

/* .content {
  background-color:#161616 !important
} */

.header-title {
  padding-top: 12%;
  padding-bottom: 10%;
}

.App-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.coluna {
  background:white;
  word-break: break-all
}

.bold { 
  font-weight: bold !important;
}

body{
  background: #262626 !important
}

.user-info {
  word-wrap: break-word;
  text-align: justify ;
}
.user-info h5{
  text-align: center ;
}

.user-logo {
  padding-top: 20px;
  width: 68% ;
  border-radius: 100%;
}

.loginForm {
  background-color: white;
  margin-right: 20rem;
  margin-left: 20rem;
  margin-top: 10%;
  padding: 67px;
  height: 36rem;
}
.loginFields {
  margin-right: 10%;
  margin-left: 10%;
  text-align: center;
}

.loginField {
  margin-top: 5px !important;
}
.btnLogin {
  text-align: right !important;
}
.logoLogin {
  align-items: center;
  text-align: center;
}

.logo {
  width: 12%;
}

.tweet-image {
  padding: 5px;
  width: 100%;
}

.chart {
  fill: black;
}

.bx--cc--skeleton-lines rect.chart-skeleton-backdrop {
  fill: #e0e0e0;
}

.bx--chart-holder {
  background-color: #e0e0e0;
}

.photos { 
  width: 90%;
  height: 90%;
}

.btn-site {
  padding-top: 12px; 
  width: calc(90% ) !important;
  /* width: 150% !important; */
}
.btn-site-2 {
  padding-top: 12px; 
  width: calc(62% ) !important;
  /* width: 150% !important; */
}
.btn-site-3 {
  padding-top: 12px; 
  width: calc(91% ) !important;
  /* width: 150% !important; */
}
.photos-2 {
  width: 62%;
  /* height: 70%; */
}
.photos-3 {
  width: 100%;
  /* height: 70%; */
}
.photos-4 {
  width:103%;
  /* height: 70%; */
}

.btn-site-4 {
  padding-top: 12px; 
  width: calc(104% ) !important;
  /* width: 150% !important; */
}